.top-content-section {
    background: #f6f6f6;
    padding: 1em;
    text-align: center;
    
}

.top.section-title {
    color: #612674;
    font-size: 1.5em; 
    padding: 1em;

}

.top-section-subtitle {
    color: #9557aa;
    font-size: 1.2em;
    line-height: 1.5em; 
}

/* ------------------- middle content --------------------*/ 
.middle-content {
    background: #f6f6f6;
    padding: 2em;
    text-align: center;
    
}

.middle-content p{
    line-height: 1.75em;
    color: #4F4F4F;
    
}

.figure-icon { 
    font-size: 2.5em;
    color: #9557aa;

}
.middle-title {
    color: #612674;
    font-size: 1.3em;
    text-transform: uppercase;
}

/*------------------- button content --------------------*/

.button-content {
    padding: 2em;
}

.button-content p {
    line-height: 1.75em;

}
    
.main-button-title {
   
    color: #9557aa;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.3em;  
}

/*------------------ section media-query -----------------*/




@media screen and (min-width: 48.75em) {
    
    .top-content-section {
        background-color: #521a66;
    }

    .top-section-title {
       color: white; 
    }

    .top-section-subtitle {
        color: white;
    }


    .col-1_4 {
        width: 44%;  
        margin: 3%; /* esses 3% vao se somar pra da 6% mais com os 44%, vão da 50% que cada article vai ter */ 
        float: left;
    }

    

}

@media screen and (max-width: 50em) {
    .clearfix:after{
        content: ' ';
        display: block;
        clear: both;

    }
    
    .main-content-article .button{
        float: right;
    }
}    











